{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-4 mt-2">
               <div class="card p-3 text-center">
                 <h3>Total Sale</h3>
                 <p>1200SR</p>
               </div>
            </div>

            <div class="col-md-4 mt-2">
                <div class="card p-3 text-center">
                    <h3>Total BUY</h3>
                    <p>1200SR</p>
                  </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card p-3 text-center">
                    <h3>Today Sale</h3>
                    <p>1200SR</p>
                  </div>
            </div>

            <div class="col-md-4 mt-2">
                <div class="card p-3 text-center">
                    <h3>Transction</h3>
                    <p>1200SR</p>
                  </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card p-3 text-center">
                    <h3>Expense</h3>
                    <p>1200SR</p>
                  </div>
            </div>

            <div class="col-md-4 mt-2">
                <div class="card p-3 text-center">
                    <h3>Cash</h3>
                    <p>1200SR</p>
                  </div>
            </div>
            
           
        </div>
    </div>
{% endblock content %}
    