{% extends 'base.html' %}


{% block content %}
<a  hreaf="" type="button" data-toggle="modal" data-target="#exampleModal" class="text-warning">
    <i class="fa-solid fa-pen"></i>
</a>
    
  {% for i in editdata %}         
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                        <form action="" method="POST">
                         {% csrf_token %}
                          <div class="modal-body">
                            <label for="qty" class="col-form-label">Qty</label>
                            <input type="number" class="form-control" value="{{i.qty}}" name="qty">
                  
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                        </form>
                        
                    </div>
                  </div>
                  {% endfor %}
   {% for i in editdata %}
    <h2> number:{{i.qty}}</h2>
    
   {% endfor %}
    
        
{% endblock content %}
    