{% extends 'base.html' %}
{% load static %}
{% block content %}



	<div class="container" id="data">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-info">أنحمات الرقابة</h3>
          <h5 class="text-primary">Andhamat Al Raqaba</h5>

          {% for i in company|slice:":1" %}
          <h5> <b>Customer الشركة:</b>  {{i.client_name}}</h5>
          <h5><b> Vat Number الرقم الضريبي:</b> {{i.tax_number}}</h5>

          {% endfor %}
          
          {% for i in posdata|slice:":1" %}
            
         
            
          <p><b> Date التاريخ: </b> {{i.date|date}}</p>
          <p><b> Time الوقت:</b> {{i.date|time}}</p>
         
          
          {% endfor %}
        </div>

        <div class="col-sm-6 invoice_img text-right">
          <img  src="{% static '/img/vision-2030-logo.png' %}" alt="">
          <h5><b> Vat Number الرقم الضريبي:  </b> 300950786200003</h5>
          
          
            <p><b> Invoice No رقم الفاتورة:</b></p>
            <p><b> Cusiar كوسيار : </b>{{request.user}}</p>

        </div>
      </div>
    </div>
  <h4 class="text-center text-primary">Tax Invoice فاتورة ضريبية</h4>
     <hr>
  <table class="table mt-3">
        <thead  class="thead-light">
          <tr>
            <th scope="col">SL</th>
            <th scope="col">Item </th>
            <th scope="col">QTY</th>
            <th scope="col">price</th>
            <th scope="col">gross price</th>
            <th scope="col">Vat 15%</th>
            <th scope="col">Discount</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for i in posdata %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.item}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.item.price}}</td>
            <td>{{i.gross_price}}</td>
            <td>{{i.vatcost}}</td>
            <td>{{i.Discount_price}}</td>
            <td>{{i.Total_amount}}</td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      <div class="total">
      <h5>Groos Total={{gross_total}}</h5>
    <h5>Tax 15% ={{vat}}</h5>
    <h5>discount={{discount}}</h5>
    <h5>Total= {{total}}</h5>
      </div>
  
      <div class="footer">
        <h5 class="text-center text-danger">Thanks for your  purchase! <i class="fa-solid fa-heart"></i></h5>
      </div>
  </div>

  <button onclick="myfun()" class="btn btn-primary mt-3">Get Bill</button>




  <script type="text/javascript">
    function myfun(){
      var body = document.getElementById('body').innerHTML;
      var data = document.getElementById('data').innerHTML;
      document.getElementById('body').innerHTML=data;
      window.print();
      document.getElementById('body').innerHTML=body;
    }

  </script>

{% endblock content %}






