{% extends 'base.html' %}


{% block content %}
   <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form class="mt-4" action="" method="POST" >
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Add" class="btn btn-primary ">
      </form>
       </div>
    
     <div class="col-sm-6"></div>
   </div>
  </div>
    <h3 class="alert alert-info mt-3">Your Bill</h3>
    <form action="/checkout">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Slug Code</th>
                        <th scope="col">Item </th>
                        <th scope="col">QTY</th>
                        <th scope="col">price</th>
                        <th scope="col">gross price</th>
                        <th scope="col">Vat 15%</th>
                        <th scope="col">Total</th>
                        
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     {% for i in posdata %}
                     <tr>
                        <th scope="row">{{i.item.slug}}</th>
                        <td>{{i.item}}</td>
                        <td>{{i.qty}}</td>
                        <td>{{i.item.price}}</td>
                        <td>{{i.possale_total}}</td>
                        <td>{{i.vatcost}}</td>
                        <td>{{i.Total_amount}}</td>
                         <td>
                          
                        <a href="" type="button" data-toggle="modal" data-target="#exampleModal{{i.id}}" class="text-warning"><i class="fa-solid fa-pen"></i></a>
                          <a class="text-danger" href="{% url 'posdelete' i.id%}"><i class="fa-solid fa-trash"></i></a>
                        </td>
  
                      </tr>
                     {% endfor %}
                        
                    </tbody>
                  </table>
 

            </div>
         
          
        </div>
        <hr>
         <div class="">
      <h5>Groos Total={{gross_total}}</h5>
    <h5>Tax 15% ={{vat}}</h5>
    <h5>Total= {{total}}</h5>
    <input type="submit" value="Checkout">
    </div>
    </div>
    </form>
    
       
     
     {% for i in posdata %}
                           <!-- Modal -->
<div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Your Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'edit' i.id %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
         <label for=""> item</label>
         <input name="item" type="text" disabled value="{{i.item}}" class="form-control" >
         <label for=""> QTY</label>
         <input name="qty" type="number"  value="{{i.qty}}" class="form-control" >
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      </form>
  </div>
</div>      
     {% endfor %}
      
     
{% endblock content %}
    