

section{
  margin-top:56px;
}


.menu ul li{
	list-style: none;
	text-align: justify;
	margin-top: 20px
	
}

.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #f1f1f1;
	transition: 0.3s;
	;
}

.menu ul li a:hover{
	background:#f1f1f1;
	color: #252424;
	padding: 10px;
	border-radius: 5px;
	
}

.menu ul li a.active{
	background:#f1f1f1;
	border-radius: 5px;

}

.menu ul li a.active{
	background:#f1f1f1;
	color: #252424;
	padding: 10px;
	
}









.flex-container {
	display: flex;
	
	
  }
  
  .flex-container .main_containt {
	width: 100%;
	height: 100%;
	
	
	
	
  }
  .flex-container .sidebar  .menu{
	position: fixed;
	height: 100%;
	background: #252424;
	width:18%;
	
}
.flex-container .sidebar{
	width: 20%;
	color: #f1f1f1;
	
}
.block_contain{
	margin-left: 20px;
	padding: 20px;

}
.form_p{
	padding: 10px;
    display : inline;
}

.form_p input#id_qty {
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    outline: none;
}

.form_p select#id_item {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}